.primary-btn {
    height: 46px;
    padding: 0 20px;
    min-width: 140px;
    background: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    transition: var(--transition);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 10px rgba(47, 84, 235, 0.15);
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(47, 84, 235, 0.25);
    opacity: 0.95;
}

.primary-btn:active {
    transform: translateY(0);
}

.small-btn {
    min-width: 130px;
}

.icon-btn {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 12px;
    background: #F0F2F5;
    color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
}

.icon-btn:hover {
    background: var(--primary-dark);
    color: white;
    transform: translateY(-2px);
}

.icon-btn:active {
    transform: translateY(0);
}

.icon-btn i {
    font-size: 16px;
}