*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--background);
    color:var(--text-dark);
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    border:none;
    outline:none;
    cursor:pointer;
    font-family:inherit;
}

input,
select{
    outline:none;
    font-family:inherit;
}

ul{
    list-style:none;
}