<div th:fragment="sidebar">

    <aside class="sidebar">

        <div class="sidebar-top">

            <div class="logo-box">
                <img src="\images\wcg-logo.jpg" alt="logo">
            </div>

            <ul class="sidebar-menu">

                <li>
                    <a href="#" class="sidebar-link active">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-user"></i>
                        <span>My Profile</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-wallet"></i>
                        <span>Payroll & Tax</span>
                    </a>
                </li>

                <li>
                    <a href="/tax-calculator" class="sidebar-link">
                        <i class="fa-solid fa-calculator"></i>
                        <span>Tax Calculator</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-circle-question"></i>
                        <span>Helpdesk</span>
                    </a>
                </li>

            </ul>

        </div>

        <a href="#" class="sidebar-link logout-btn">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Log Out</span>
        </a>

    </aside>

</div>